html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    background-color: #149c81;
    color: #fff;
    font-family: "Signika Negative";
    text-align: center;
}




#replace,
#with {
    outline: none;
    margin-left: auto;
    border: black solid 0px;
    border-radius: 5px;
    padding: 8px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 12px;
    display: block;
    text-align: right;
}

#replace::placeholder,
#with::placeholder {
    padding: 3px;
    position: relative;
    text-align: left;
}



#add {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: #363636;
    background-color: #eef4f3;
}