html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 220px;
    background-color: #41b699;
    color: #fff;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    padding: 20px;
    text-align: center;

}

#list {
    font-size: 1.2em;
}

#cta {
    font-size: 1.1em;
    opacity: 80%;

}

#replace,
#with {
    border-radius: 5px;
    border: black solid 0px;
    display: block;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    outline: none;
    padding: 5px;
    text-align: right;
}

#replace::placeholder,
#with::placeholder {
    font-size: 0.94em;
    opacity: 60%;
    padding: 2px;
    text-align: left;
}

#add {
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    color: #4f4f4f;
    margin: 6px;
    padding: 6px;
}